@use "./mixins";
@use './typography';
@import './variables';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li, a, button{
    text-decoration: none;
    list-style-type: none;
}

.nav__container a{
    text-decoration: none;
}

nav{
    @include mixins.tablet{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 2rem;
        padding-top: 0.5rem;
    }
    @include mixins.desktop{
        padding-left: 10rem;
        padding-top: 2rem;
    }
}

.company{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    @include mixins.tablet{
        padding-bottom: 1rem;
    }
    @include mixins.desktop{
        padding-bottom: 2rem;
    }
}

.nav__container{
    display: flex;
    justify-content: center;

    @include mixins.tablet{
        align-items: center;
        padding-left: 3.5rem;
    }
    @include mixins.desktop{
        padding-left: 4rem;
    }
}

.nav__links{
    width: 50%;
    text-align: center;
    padding-bottom: 0.2rem;
    @include mixins.tablet{
        margin-right: 2rem;
        margin-left: 1rem;
    }
    @include mixins.desktop{
        padding-bottom: 2.25rem;
        padding-top: 1rem;
        margin-right: 4rem;
        margin-left: 4rem;
    }

    &:hover{
        cursor: pointer;
        border-bottom: 3px solid #FFFFFF;

        @include mixins.tablet{
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
            border-bottom: 4px solid #FFFFFF;
        }
        @include mixins.desktop{
            padding-bottom: 2.25rem;
            padding-top: 1.25rem;
            border-bottom: 5px solid #FFFFFF;
        }
    }
}

.nav__links--highlight{
    
    border-bottom: 3px solid #FFFFFF;

    @include mixins.tablet{
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        letter-spacing: 0.02rem;
        border-bottom: 3px solid #FFFFFF;
    }
    @include mixins.desktop{
        padding-bottom: 2.25rem;
        padding-top: 1.25rem;
        border-bottom: 5px solid #FFFFFF;
    }
}

.section__heading{
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;

    @include mixins.tablet{
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }
    @include mixins.desktopxl{
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}

.button{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 100%;
    border-radius: 4px;

    @include mixins.tablet{
    padding-top: 0.8rem;
    width:35%;
    }
}


footer{
    padding-left: 1rem;
    padding-right: 1rem;

    @include mixins.tablet{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include mixins.desktop{
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

footer{
    padding-top: 1rem;
    @include mixins.tablet{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        padding-top: 0;
    }
}

.footer__top{
    @include mixins.tablet{
        display: flex;
        align-items: center;
        order:-2;
    }
}

.socials{
    @include mixins.tablet{
        padding-left: 3.6rem;
    }
    @include mixins.desktop{
        padding-left: 8.5rem;
    }
}

.socials__logo{
    padding-right: 2rem;
    margin-top: 1rem;
    @include mixins.tablet{
        width: 4rem;
        height: 1.5rem;
    }
    @include mixins.desktop{
        width: 5rem;
        height: 2.5rem;
    }
}

.contact__container{
    @include mixins.tablet{
        display: flex;
        justify-content: space-between;
        order:1;
        width: 100%;
    }
    @include mixins.desktop{
        justify-content: flex-start
    }
}

.contact, .contact__name, .contact__info, .contact__email{
    padding-top: 0.7rem;
    line-height: 1.15em;;
    @include mixins.tablet{
        padding-top: 1rem;
    }
}

.contact{
    @include mixins.desktop{
        padding-right: 2rem;
    }
    @include mixins.desktopxl{
        padding-right: 10rem;
    }
}

.company__container{
    display: flex;
    padding-top: 2.5rem;
    @include mixins.tablet{
       padding-top: 2.5rem;
       order: -1;
    }
    @include mixins.desktopxl{
        padding-top: 4.5rem;
        order: -1;
     }
}

.company__heading{
    @include mixins.desktopxl{
        padding: 0; 
    }
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-spacing: 0.1rem;

    @include mixins.tablet{
        padding-top: 2rem;
        padding-bottom: 2rem;
        order: 2;
    }

    @include mixins.desktop{
        padding-top: 3rem;
    }
}

.copyright__description{
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

// Font Weight, Font Styles and Font Size

.button{
    font-weight: 400;
}

.hero, .section__heading, .nav__links--highlight, .contact__name{
    font-weight: 600;
}

.contact__name{
    font-weight: 700;
}

.company{
    font-size: 1.55rem;
    font-weight:400;
    @include mixins.desktop{
        font-size: 2.4rem;   
    }
}

.hero__title{
    font-size: 1.5rem;
    @include mixins.tablet{
        font-size: 3.85rem;   
    }
    @include mixins.desktop{
        font-size: 6rem;   
    }
}

.section__heading{
    font-size: 1.5rem;
    @include mixins.tablet{
        font-size: 2.3rem;
    }
    @include mixins.desktop{
        font-size: 3.65rem;
    }
}

.button{
    font-size: 1rem;
    @include mixins.desktopxl{
        font-size: 1.3rem;
    }
}

.contact__name{
    font-size: 0.77rem;
    padding-bottom: 1rem;
    @include mixins.tablet{
        font-size: 0.82rem;
    }
    @include mixins.desktop{
        font-size: 1.3rem;
        line-height: 1.8rem;
        letter-spacing: 0.001rem;
    }
    @include mixins.desktopxl{
        font-size: 1.38rem;
    }
}

.contact__info, .contact__email{
    font-size: 0.76rem;

    @include mixins.tablet{
        font-size: 0.81rem;
    }
    @include mixins.desktop{
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding-top: 2.5rem;
    }
    @include mixins.desktopxl{
        font-size: 1.37rem;
    }
}

.nav__links--highlight, .nav__links{
    font-size: 0.74rem;

    @include mixins.tablet{
        font-size: 0.9rem;
    }
    @include mixins.desktop{
        font-size: 1.5rem;
    }
}

.copyright{
    font-size: 0.67rem;
    @include mixins.tablet{
        justify-content: flex-end;
        font-size: 0.84rem;
    }
    @include mixins.desktop{
        font-size: 1.36rem;
    }
}

// Font Color and Background Colour

.nav__links--inactive{
    color: $primary-color2;
} 

.nav__links, .nav__links--active, .hero__title, .company, .contact, .copyright, .section__heading--footer, .contact__email, .button{
    color: $primary-color3;
}

nav, footer, .button{
    background-color: $primary-color1;
}
