@font-face{
    font-family: 'Avenir';
    src: url('../Assets/Font/AvenirNextLTPro-Regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Avenir-Demi';
    src: url('../Assets/Font/AvenirNextLTPro-Demi.otf');
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: 'Avenir-Bold';
    src: url('../Assets/Font/AvenirNextLTPro-Bold.otf');
    font-style: normal;
    font-weight: 700;
}

