@font-face{
    font-family: 'Avenir';
    src: url('../Assets/Font/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../Assets/Font/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../Assets/Font/AvenirNextLTPro-Regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Avenir-Demi';
    src: url('../Assets/Font/AvenirNextLTPro-Demi.woff') format ('woff'),
    url ('../../Assets/Font/AvenirNextLTPro-Demi.woff2') format ('woff2');
    // url('../Assets/Font/AvenirNextLTPro-Demi.otf') format ('otf');
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: 'Avenir-Bold', 'sans-serif';
    src: url('../Assets/Font/AvenirNextLTPro-Bold.otf'),
    url('../Assets/Font/Alternative\ files/AvenirNextLTPro-Bold');
    font-style: normal;
    font-weight: 700;
}

