@use './partials/global'; 
@use './partials/mixins';
@import './partials/typography';
@import './partials/variables';

// Initial mobile device size at 320px

body{
    font-family:'Avenir';
}

nav{
    background-color: $primary-color1;
}

.company{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.nav__container{
    display: flex;
    justify-content: center;

}

.nav__links{
    width: 50%;
    text-align: center;
}

.nav__links--highlight{
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #FFFFFF;
}

.hero{
    background-image: url("../Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    width: 99vw;
    height: calc(0.55*100vw);
    
    display: flex;
    align-items: center;

    &__title{
        padding-left: 1rem;
    }
}

.section__heading, .narrative__title{
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.about, .narrative, .gallery, footer{
    padding-left: 1rem;
    padding-right: 1rem;
}

.about__image{
    width: 89vw;
    height: calc(0.50*89vw);
}

.about__description{
    padding-top: 0.5rem;
    word-spacing: 0.01rem;
    line-height: 1.3rem;
}

.about__description--artist{
    padding-top: 0.3rem;
    line-height: 1.3rem;
}

.narrative__title{
    padding-top: 1.5rem;
}

.narrative__description{
    line-height: 1.1rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    width: 93%;
}

.gallery__image{
    @extend .about__image;
    height: calc(0.52*91vw);
    padding-bottom: 0.5rem;
    
}

footer{
    @extend nav;
    padding-top: 1rem;
}

.socials__logo{
    padding-right: 2rem;
    margin-top: 1rem;
}

.contact, .contact__name, .contact__info, .contact__email{
    padding-top: 0.7rem;
    line-height: 1.2rem;;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2.5rem;
    word-spacing: 0.1rem;;
}

.copyright__description{
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
}

// Font Weight, Font Styles and Font Size

.hero, .section__heading, .nav__links--highlight, .about__description, .narrative__description, .about__description--artist, .contact__name{
    font-family: 'Avenir-Demi';
}

.contact__name{
    font-family: 'Avenir-Bold';
}

.company{
    font-size: 1.55rem;
    font-weight:400;
}

.hero__title, .section__heading {
    font-size: 1.5rem;
}

.about__description, .about__description--artist, .narrative__title{
    font-size: 0.856rem;
}

.narrative__description, .contact{
    font-size: 0.785rem;
}

.nav__links--highlight, .nav__links{
    font-size: 0.74rem;
}

.copyright{
    font-size: 0.67rem;
}

// Font Color and Background Colour

.nav__links, .nav__links--highlight, .hero__title, .company, .contact, .copyright, .section__heading--footer{
    color: $primary-color3;
}

.gallery{
    background-color: $secondary-color3;
}


