@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li, a, button {
  text-decoration: none;
  list-style-type: none;
}

.nav__container a {
  text-decoration: none;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    padding-top: 0.5rem;
  }
}
@media (min-width: 1280px) {
  nav {
    padding-left: 10rem;
    padding-top: 2rem;
  }
}

.company {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .company {
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .company {
    padding-bottom: 2rem;
  }
}

.nav__container {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .nav__container {
    align-items: center;
    padding-left: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .nav__container {
    padding-left: 4rem;
  }
}

.nav__links {
  width: 50%;
  text-align: center;
  padding-bottom: 0.2rem;
}
@media (min-width: 768px) {
  .nav__links {
    margin-right: 2rem;
    margin-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .nav__links {
    padding-bottom: 2.25rem;
    padding-top: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
}
.nav__links:hover {
  cursor: pointer;
  border-bottom: 3px solid #FFFFFF;
}
@media (min-width: 768px) {
  .nav__links:hover {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 4px solid #FFFFFF;
  }
}
@media (min-width: 1280px) {
  .nav__links:hover {
    padding-bottom: 2.25rem;
    padding-top: 1.25rem;
    border-bottom: 5px solid #FFFFFF;
  }
}

.nav__links--highlight {
  border-bottom: 3px solid #FFFFFF;
}
@media (min-width: 768px) {
  .nav__links--highlight {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    letter-spacing: 0.02rem;
    border-bottom: 3px solid #FFFFFF;
  }
}
@media (min-width: 1280px) {
  .nav__links--highlight {
    padding-bottom: 2.25rem;
    padding-top: 1.25rem;
    border-bottom: 5px solid #FFFFFF;
  }
}

.section__heading {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .section__heading {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .section__heading {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

.button {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  width: 100%;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .button {
    padding-top: 0.8rem;
    width: 35%;
  }
}

footer {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1280px) {
  footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

footer {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .footer__top {
    display: flex;
    align-items: center;
    order: -2;
  }
}

@media (min-width: 768px) {
  .socials {
    padding-left: 3.6rem;
  }
}
@media (min-width: 1280px) {
  .socials {
    padding-left: 8.5rem;
  }
}

.socials__logo {
  padding-right: 2rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .socials__logo {
    width: 4rem;
    height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .socials__logo {
    width: 5rem;
    height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .contact__container {
    display: flex;
    justify-content: space-between;
    order: 1;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .contact__container {
    justify-content: flex-start;
  }
}

.contact, .contact__name, .contact__info, .contact__email {
  padding-top: 0.7rem;
  line-height: 1.15em;
}
@media (min-width: 768px) {
  .contact, .contact__name, .contact__info, .contact__email {
    padding-top: 1rem;
  }
}

@media (min-width: 1280px) {
  .contact {
    padding-right: 4rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .contact {
    padding-right: 10rem;
  }
}

.company__container {
  display: flex;
  padding-top: 2.5rem;
}
@media (min-width: 768px) {
  .company__container {
    padding-top: 2.5rem;
    order: -1;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .company__container {
    padding-top: 4.5rem;
    order: -1;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .company__heading {
    padding: 0;
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-spacing: 0.1rem;
}
@media (min-width: 768px) {
  .copyright {
    padding-top: 2rem;
    padding-bottom: 2rem;
    order: 2;
  }
}
@media (min-width: 1280px) {
  .copyright {
    padding-top: 3rem;
  }
}

.copyright__description {
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}

.button {
  font-weight: 400;
}

.hero, .section__heading, .nav__links--highlight, .contact__name {
  font-weight: 600;
}

.contact__name {
  font-weight: 700;
}

.company {
  font-size: 1.55rem;
  font-weight: 400;
}
@media (min-width: 1280px) {
  .company {
    font-size: 2.4rem;
  }
}

.hero__title {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.85rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    font-size: 6rem;
  }
}

.section__heading {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .section__heading {
    font-size: 2.3rem;
  }
}
@media (min-width: 1280px) {
  .section__heading {
    font-size: 3.65rem;
  }
}

.button {
  font-size: 1rem;
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .button {
    font-size: 1.3rem;
  }
}

.contact__name {
  font-size: 0.77rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .contact__name {
    font-size: 0.82rem;
  }
}
@media (min-width: 1280px) {
  .contact__name {
    font-size: 1.38rem;
    line-height: 1.8rem;
    letter-spacing: 0.001rem;
  }
}

.contact__info, .contact__email {
  font-size: 0.76rem;
}
@media (min-width: 768px) {
  .contact__info, .contact__email {
    font-size: 0.81rem;
  }
}
@media (min-width: 1280px) {
  .contact__info, .contact__email {
    font-size: 1.37rem;
    line-height: 1.8rem;
    padding-top: 2.5rem;
  }
}

.nav__links--highlight, .nav__links {
  font-size: 0.74rem;
}
@media (min-width: 768px) {
  .nav__links--highlight, .nav__links {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .nav__links--highlight, .nav__links {
    font-size: 1.5rem;
  }
}

.copyright {
  font-size: 0.67rem;
}
@media (min-width: 768px) {
  .copyright {
    justify-content: flex-end;
    font-size: 0.84rem;
  }
}
@media (min-width: 1280px) {
  .copyright {
    font-size: 1.36rem;
  }
}

.nav__links--inactive {
  color: #AFAFAF;
}

.nav__links, .nav__links--active, .hero__title, .company, .contact, .copyright, .section__heading--footer, .contact__email, .button {
  color: #FFFFFF;
}

nav, footer, .button {
  background-color: #323232;
}

body {
  font-family: "Avenir";
}

.hero {
  background-image: url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 55vw;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .hero {
    width: 100vw;
    height: 60vw;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 55vw;
  }
}
.hero__title {
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    padding-top: 3rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding-top: 0rem;
    padding-left: 10rem;
    padding-bottom: 3rem;
  }
}

.hero__background {
  background-color: rgba(50, 50, 50, 0.5019607843);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .hero__background {
    padding-bottom: 8rem;
  }
}

.about, .narrative, .conversation {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .about, .narrative, .conversation {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1280px) {
  .about, .narrative, .conversation {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding-left: 2rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__image, .gallery__image {
  width: 91vw;
  height: 44.5vw;
}
@media (min-width: 768px) {
  .about__image, .gallery__image {
    width: 80%;
    height: 42.5vw;
  }
}

.about__description {
  padding-top: 0.5rem;
  word-spacing: 0.1rem;
  line-height: 1.3rem;
}
@media (min-width: 768px) {
  .about__description {
    width: 80%;
    padding-top: 2rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 1280px) {
  .about__description {
    padding-right: 17rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .about__description {
    padding-top: 3rem;
    line-height: 3rem;
  }
}

.about__description--artist {
  padding-top: 0.3rem;
  line-height: 1.3rem;
}
@media (min-width: 768px) {
  .about__description--artist {
    width: 80%;
    padding-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .about__description--artist {
    padding-top: 1.5rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .about__description--artist {
    padding-top: 2rem;
  }
}

@media (min-width: 768px) {
  .narrative {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.narrative__title {
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .narrative__title {
    width: 80%;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .narrative__title {
    padding-top: 4rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .narrative__title {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .narrative__container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}

.narrative__description {
  line-height: 1.1rem;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  width: 94%;
}
@media (min-width: 768px) {
  .narrative__description {
    line-height: 1.2rem;
    letter-spacing: 0.0001rem;
  }
}
@media (min-width: 1280px) {
  .narrative__description {
    line-height: 2rem;
    letter-spacing: 0rem;
  }
}

@media (min-width: 768px) {
  .narrative__description--left {
    padding-right: 1rem;
  }
}
@media (min-width: 1280px) {
  .narrative__description--left {
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .narrative__description--right {
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .narrative__description--right {
    padding-left: 1.5rem;
  }
}

.gallery {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .gallery {
    padding-left: 2rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.gallery__image {
  height: 47.32vw;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__image {
    width: 32.5%;
    height: 16.64vw;
    padding-bottom: 1.2rem;
    padding-right: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .gallery__image {
    padding-bottom: 2rem;
    padding-right: 2rem;
  }
}

.conversation__container {
  width: 91vw;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .conversation__container {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 1rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .conversation__container {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    justify-content: center;
    padding-top: 2rem;
  }
}

.conversation__avatar {
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .conversation__avatar {
    padding-top: 1rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .conversation__avatar {
    padding-top: 2rem;
  }
}

.conversation__image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-self: flex-start;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% center;
     object-position: 30% center;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .conversation__image {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .conversation__image {
    width: 4rem;
    height: 4rem;
  }
}

.form__container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .form__container {
    width: 85%;
  }
}

.conversation__form {
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.conversation__form--name, .conversation__form--comment {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

button {
  align-self: flex-end;
}

.form__label {
  margin-bottom: 0.3rem;
}
.form__label--name, .form__label--comment {
  border-radius: 4px;
  border: 1px solid #E1E1E1;
}
.form__label--name {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .form__label--name {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .form__label--name {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
.form__label--comment {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .form__label--comment {
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .form__label--comment {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 8rem;
  }
}

#comment-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  #comment-box {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1280px) {
  #comment-box {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.comment-log {
  padding-left: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .comment-log {
    padding-left: 2rem;
    padding-bottom: 2rem;
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .comment-log {
    width: 50%;
  }
}
.comment-log__name {
  width: 40%;
  padding-bottom: 0.5rem;
  margin-right: rem;
}
.comment-log__comment {
  width: 86%;
  padding-bottom: 0.5rem;
  line-height: 1.001rem;
}
@media (min-width: 768px) {
  .comment-log__comment {
    width: 94%;
    line-height: 1.3rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .comment-log__comment {
    width: 90%;
    line-height: 2rem;
  }
}
.comment-log__image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0.5rem;
}
@media (min-width: 768px) {
  .comment-log__image {
    width: 2.8rem;
    height: 2.8rem;
    left: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .comment-log__image {
    width: 4rem;
    height: 4rem;
  }
}

.narrative__description, .about__description--artist {
  font-weight: 400;
}

.about__description, .about__description--artist, .hero__title, .narrative__title {
  font-weight: 600;
}

.form__label {
  font-weight: 700;
}

.hero__title {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.85rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    font-size: 6rem;
  }
}

.about__description {
  font-size: 0.87rem;
}
@media (min-width: 768px) {
  .about__description {
    font-size: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .about__description {
    font-size: 2.1rem;
  }
}
.about__description--artist {
  font-size: 0.87rem;
}
@media (min-width: 768px) {
  .about__description--artist {
    font-size: 1.036rem;
  }
}
@media (min-width: 1280px) {
  .about__description--artist {
    font-size: 1.62rem;
  }
}

.narrative__title {
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .narrative__title {
    font-size: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .narrative__title {
    font-size: 2.4rem;
  }
}

.narrative__description {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .narrative__description {
    font-size: 0.815rem;
  }
}
@media (min-width: 1280px) {
  .narrative__description {
    font-size: 1.379rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .narrative__description {
    font-size: 1.28rem;
  }
}

.form__label {
  font-size: 0.67rem;
}
@media (min-width: 768px) {
  .form__label {
    justify-content: flex-end;
    font-size: 0.7rem;
  }
}
@media (min-width: 1280px) {
  .form__label {
    font-size: 1rem;
  }
}

.form__label--name::-moz-placeholder, .form__label--comment::-moz-placeholder {
  font-size: 0.7rem;
}

.form__label--name::placeholder, .form__label--comment::placeholder {
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .form__label--name::-moz-placeholder, .form__label--comment::-moz-placeholder {
    font-size: 0.8rem;
  }
  .form__label--name::placeholder, .form__label--comment::placeholder {
    font-size: 0.8rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .form__label--name::-moz-placeholder, .form__label--comment::-moz-placeholder {
    font-size: 1.2rem;
  }
  .form__label--name::placeholder, .form__label--comment::placeholder {
    font-size: 1.2rem;
  }
}

.comment-log__name {
  font-weight: 700;
}

.comment-log__name, .comment-log__comment, .comment-log__time {
  font-size: 0.78rem;
}
@media (min-width: 768px) {
  .comment-log__name, .comment-log__comment, .comment-log__time {
    font-size: 0.8rem;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .comment-log__name, .comment-log__comment, .comment-log__time {
    font-size: 1.37rem;
  }
}
.comment-log__comment {
  font-weight: 600;
}

.gallery {
  background-color: #FAFAFA;
}

.hero__title, .section__heading--footer {
  color: #FFFFFF;
}

.form__label {
  color: #AFAFAF;
}
.form__label--name, .form__label--comment {
  background-color: #FAFAFA;
}

.form__label--name::-moz-placeholder, .form__label--comment::-moz-placeholder {
  color: #323232;
}

.form__label--name::placeholder, .form__label--comment::placeholder {
  color: #323232;
}

.comment-log__name, .comment-log__comment {
  color: #323232;
}
.comment-log__time {
  color: #AFAFAF;
}/*# sourceMappingURL=bio.css.map */