@use './partials/global'; 
@use './partials/mixins';
@import './partials/variables';
@import './partials/typography';

// Initial mobile device size at 320px

body{
    font-family:'Avenir';
}

.hero{
    background-image: url("../Assets/Images/hero-shows.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: calc(0.55*100vw);
    display: flex;
    align-items: center;

    @include mixins.tablet{
        width: 100vw;
        height: calc(0.6*100vw);
    }

    @include mixins.desktop{
        height: calc(0.55*100vw);
    }

    &__title{
        padding-left: 1rem;
        padding-bottom: 0.1rem;
        width: 80%;

        @include mixins.tablet{
            padding-left: 2rem;
        }

        @include mixins.desktop{
            padding-left: 8rem;
            width: 100%;
        }
    }
}

.hero__background{
    background-color: $primary-color1b;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    @include mixins.desktop{
        align-items: center;
        flex-direction: row;
    }
}

iframe{
    width: 100%;
    height: 100%;
}

.iframe{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 30%;

    @include mixins.tablet{
        padding-left: 2rem;
        padding-right: 2rem;
        width: 60%;
        height: 28%;
    }

    @include mixins.desktop{
        width: 60%;
        justify-self: flex-end;
        height: 20%;
        margin-top: 6rem;
        padding-right: 8rem;
    }
}

.section__heading--hero{
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 80%;

    @include mixins.tablet{
        padding-left: 2rem;
    }


    @include mixins.desktop{
        padding-left: 8rem;
    }
}

.shows{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    @include mixins.tablet{
        padding-left: 2rem;
        padding-right: 2rem;    
    }

    @include mixins.desktop{
        display:flex;
        flex-direction: column;
        padding-left: 8rem;
        padding-right: 8rem;  
    }
}

.section__heading--shows{
    @include mixins.desktop{
        padding-bottom: 0;
    }
}

.band-event{
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $secondary-color2;
    cursor: pointer;

    &:hover{
        background-color: $secondary-color3;
    }

    &--active{
        background-color: $primary-color2;
        padding-left: 1rem;
        padding-right: 1rem;

        @include mixins.desktop{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        @include mixins.desktopxl{
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }

    @include mixins.tablet{
        display: grid;
        grid-template-columns: 28% 28% 25% 100%;
    }

    @include mixins.desktop{
        align-self: flex-end;
        width: 80%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include mixins.desktopxl{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }


    &__heading{
        padding-top:1rem;
        padding-bottom: 0.5rem;
        
        @include mixins.tablet{
            display: none;
        }
    }

    &__venue, &__date, &__location{
        @include mixins.tablet{
            padding-top: 2rem;
            text-align: left;;
        }
    }
}

.shows-heading__container{
    display: none;

    @include mixins.tablet{
        display: flex;
        justify-content: space-between;
        width: 65%;
    }

    @include mixins.desktop{
        width: 50%;
        margin-left: 13.8rem;
    }

    @include mixins.desktopxl{
        margin-left: 22.7rem;
        width: 48.5%;
    }

}

.button--shows{
    margin-top:1rem;

    @include mixins.tablet{
        width: 20%;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
}


// Font Weight, Font Styles and Font Size

.section__heading--hero{
    font-size: 0.82rem;
    @include mixins.tablet{
        font-size: 2.3rem;
    }
    @include mixins.desktop{
        font-size: 2rem;
    }
}

.section__heading--shows{
    font-size: 1.7rem;

    @include mixins.desktop{
        font-size: 3rem;
    }
}

.hero__title{
    font-size: 1.5rem;
    font-weight: 600;
    @include mixins.tablet{
        font-size: 3.85rem;   
    }
    @include mixins.desktop{
        font-size: 4rem;   
    }
}

.band-event{

    &__heading{
        font-size: 0.6rem;
    }

    &__date{
        font-size: 0.78rem;
        font-weight: 700;

        @include mixins.tablet{
            font-size: 0.9rem;
        }

        @include mixins.desktop{
            font-size: 1rem;
        }

        @include mixins.desktopxl{
            font-size: 1.5rem;
        }
    }

    &__venue, &__location{
        font-size: 0.78rem;
        font-weight: 600;

        @include mixins.tablet{
            font-size: 0.9rem;
        }

        @include mixins.desktop{
            font-size: 1rem;
        }

        @include mixins.desktopxl{
            font-size: 1.5rem;
        }
    }
}

.band-event__heading--table{
    @include mixins.tablet{
        font-size: 0.72rem;  
    }
    
    @include mixins.desktop{
        font-size: 0.8rem;
    }
    
    @include mixins.desktopxl{
        font-size: 1.1rem;
    }
    
}

.button--shows{
    font-weight: 600;

    @include mixins.tablet{
        font-size: 0.8rem;
    }

    @include mixins.desktopxl{
        font-size: 1rem;
    }
}



// Font Color and Background Colour

.hero__title, .section__heading--hero{
    color: $primary-color3;
}

.band-event{
    &__heading{
        color: $primary-color2;
    }
}

.band-event__heading--table{
    color: $primary-color2
}

