@use './partials/global'; 
@use './partials/mixins';
@import './partials/typography';
@import './partials/variables';

// Initial mobile device size at 320px

body{
    font-family:'Avenir';
}

.hero{
    background-image: url("../Assets/Images/hero-shows.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: calc(0.55*100vw);
    display: flex;
    align-items: center;

    @include mixins.tablet{
        width: 100vw;
        height: calc(0.6*100vw);
    }

    @include mixins.laptop{
        height: calc(0.55*100vw);
    }

    &__title{
        padding-left: 1rem;

        @include mixins.tablet{
        padding-top: 3rem;
        padding-left: 2rem;
        }

        @include mixins.laptop{
        padding-top: 0rem;
        padding-left: 10rem;
        padding-bottom: 3rem;
        }
    }
}

.hero__background{
    background-color: $primary-color1b;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    @include mixins.desktop{
        padding-bottom: 8rem;
    }
    
}

.section__heading--hero, .hero__title{
    padding-left: 1rem;
    width: 80%;
}

.shows{
    padding-left: 1rem;
}



// Font Weight, Font Styles and Font Size

.hero, .section__heading{
    font-family: 'Avenir-Demi';
}

.hero__title{
    font-size: 1.5rem;
    @include mixins.tablet{
        font-size: 3.85rem;   
    }
    @include mixins.laptop{
        font-size: 6rem;   
    }
}

// .section__heading{
//     font-size: 1.5rem;
//     @include mixins.tablet{
//         font-size: 2.3rem;
//     }
//     @include mixins.laptop{
//         font-size: 3.65rem;
//     }
// }

.section__heading--hero{
    font-size: 0.9rem;
}

// Font Color and Background Colour

.hero__title, .section__heading--hero{
    color: $primary-color3;
}


